* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: rgb(23, 76, 68);
  margin: 3%;
}

h1 {
  display: flex;
  justify-content: begin;
  color: rgb(255, 255, 255);
}

div {
  position: relative;
}

#peter div {
  display: flex;
  justify-content: center;
}

#peter img {
  margin: 5rem;
  min-width: 30%;
  max-width: 30%;
  position: absolute;
}

#background {
  position: absolute;
  z-index: -2;
  height: 35rem;
  width: 50rem;
}

#background img {
  height: 100%;
  width: 100%;
}

button {
  margin: 1rem;
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  color: white;
  background-color: black;
  border: 0;
}

button:hover {
  background-color: rgb(199, 233, 255);
  color: black;
}